---
import { Icon } from "astro-icon/components";
import type { Post } from "../types/post";
import { formatJaDate } from "../lib/formatDate";
import styles from "./PostCard.module.scss";

interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<a href={`/post/${post.id}`} class={styles.card}>
  <div class={styles.thumb}>
    {
      post.eyecatch ? (
        <img
          src={`${post.eyecatch.url}?w=800&fm=webp`}
          alt={post.title}
          width={post.eyecatch.width}
          height={post.eyecatch.height}
          loading="lazy"
        />
      ) : (
        <div class={styles.noImage} aria-hidden="true">
          No Image
        </div>
      )
    }
  </div>

  <div class={styles.body}>
    {
      post.date && (
        <time class={styles.date} datetime={post.date}>
          <Icon name="uil:calendar" class={styles.calendarIcon} />
          {formatJaDate(post.date)}
        </time>
      )
    }
    <h3 class={styles.title}>{post.title}</h3>
  </div>
</a>
